<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}">

<body>

<div layout:fragment="contents">
    <div class="nav justify-content-end px-5 pt-2">
        <button class="btn btn-info text-white" id="write-board" type="button" onclick="location.href='/board/write'">
            Contents Write
        </button>
    </div>
    <hr/>
    <div>
        <p>default page</p>
    </div>
</div>

</body>
</html>
